.container
  .container{:style => "text-align: right"}
    = link_to "Add a new question", new_question_path, class: "btn btn-primary"


  %table.table
    %tr
      %th
        Question
      %th
        Edit
    - @questions.each do |question|
      %tr
        %td
          = link_to question.question.html_safe, question
        %td
          (#{link_to "edit", edit_question_path(question)})

  
